<div class="container">
	<div class="row">
		<div class="col-xs-12" align="center">
			<strong><h2 align="center"><%= @destination.name %></h2></strong>
			<%= image_tag(@destination.image, :class => 'img-responsive') %>
			<%= @destination.name %>
		</div>
	</div>
</div>